.content {
    width: 400px;
    height: 450px;
}

.red {
    height: 100px;
    background: #ff0000;
}

.content-m::after {
    content: "";
    display: block;
    clear: both;
}

.green {
    float: left;
    width: 150px;
    height: 250px;
    background: #00ff1e;
}

.blue {
    float: right;
    width: 250px;
    height: 250px;
    background: #3300ff;
}


.yellow {
    height: 100px;
    background: #ffe600;
}