body {
    width: 400px;
    height: 450px;
}

#header {
    height: 100px;
    background: #ff0000;
    padding: 20px 20px 20px 0;
}

.header_cont {
    position: relative;
    width: 160px;
    height: 60px;
    background: #fff;
    margin-left: auto;
}

.header_large_box {
    display: flex;
}

.header-box {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: #a9004b;
}

.main-cont {
    display: flex;
}

.green {
    width: 150px;
    height: 250px;
    background: #00ff51;
}

.main-left {
    width: 250px;
    height: 250px;
    background: #8c2727;
}

.contain {
    margin: 40px;
}

.main-s {
    width: 150px;
    height: 50px;
    background: #ff863f;
    border: 5px solid #ffffff;
}
.main-s:nth-child(2) {
    margin-top: 10px;
}
.main-s:last-child {
    margin-top: 10px;
}

.yellow {
    height: 100px;
    background: #ffd000;
}